body{
    background-color:white;
}

img{
    width: 300px;
    transform: translate(0px);
    animation: float 4s ease-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}